* {
  box-sizing: border-box;
 }
 .row {
  width: 100%;
}

h1{
  text-align: center;
}

body{ 
  font-family: sans-serif;
}

#colorone{
  background-color: pink;
}

#colortwo{
  color:white;
  background-color: red;
}

#colorthree{
  background-color: yellow;
}
div div{
  position: relative;
  background-color:grey;
  border: 1px solid black;
  margin: 5px;
}
p{
  margin:5px;
  padding: 5px;
  position: relative;
  clear: right;

}


h2{
  float: right;
  text-align: center;
  width: 150px;
  height: 40px;
  border:1px solid black;
  margin: -1px;
  margin-bottom: 10px;
  padding: 5px;

}

/*p{
  clear:right;
  padding:5px;
}*/

/********** Large devices only **********/
@media (min-width: 992px) {
   .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

/** Small Devices Only**/
@media (max-width: 767px) {
   .col-sm-12 {
    float: left;
    width: 100%;
  }
}
