* {
  box-sizing: border-box;
 }
 .row {
  width: 100%;
}

h1{
  text-align: center;
}
body{
  font-family: sans-serif;
  margin: 3px;
}
#colortwo{
  color:white;
  background-color: red;
}
#colorthree{
  background-color: yellow;
}

h2{
  float: right;
  text-align: center;
  width: 150px;
  height: 40px;
  background-color: pink;
  border:1px solid black;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px;

}


.col-lg-4, .col-md-6, .col-md-12, .col-sm-12{
  background-color:grey;
  margin:2px;
}

p{
  float:left;
  padding:0px;
  padding-left: 10px
}

/********** Large devices only **********/
@media (min-width: 992px) {
   .col-lg-4 {
    float: left;
    border: 1px solid black;
    width: 33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid black;
  }
  
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/** Small Devices Only**/
@media (min-width: 0px) and (max-width: 767px) {
   .col-sm-12 {
    float: left;
    border: 1px solid black;
    width: 100%;
  }
}
